
nav.theme-dark, nav.theme-dark ul.links-wrapper.active { background-color: #121212 }

header.theme-dark   { background-color: #1E1E1E }

header.theme-dark  h1 { color: var(--orange-600); }

section.theme-dark   { background-color: #222222 }

footer.theme-dark   { background-color: #0A0A0A }



header .col-text h2, .col-1 > h3 { line-height: 1.8 }



